<div class="container">
  <md-button ui-sref="app.missionDetail({id: vm.mission.id})">
    <md-icon md-svg-icon="img/arrow.svg"></md-icon>
    Return to home
  </md-button>
  <h2 class="title">Traveller is not arrived</h2>
  <p>I can not welcome the guest(s) because : </p>
  <md-input-container class="md-block">
    <md-checkbox ng-click="vm.arrived(1)" ng-model="vm.callIsNotPossible" aria-label="Checkbox 1">
      It's impossible to call the traveller(s)
    </md-checkbox>
  </md-input-container>
  <md-input-container class="md-block">
    <md-checkbox ng-click="vm.arrived(2)" ng-model="vm.late" aria-label="Checkbox 2">
      Delay exceeds 2 hours
    </md-checkbox>
  </md-input-container>
  <md-input-container class="md-block">
    <md-checkbox ng-click="vm.arrived(3)" ng-model="vm.resaCancelled" aria-label="Checkbox 3">
      Rerservation cancelled
    </md-checkbox>
  </md-input-container>
  <md-input-container class="md-block">
    <md-checkbox ng-click="vm.arrived(4)" ng-model="vm.others" aria-label="Checkbox 2">
      Others
    </md-checkbox>
  </md-input-container>
  <md-input-container class="md-block" ng-if="vm.commentaire">
    <label>Comment</label>
    <textarea ng-model="vm.comment" md-maxlength="150" rows="5" md-select-on-focus></textarea>
  </md-input-container>
  <md-button  ng-if="vm.end_mission" ng-click="vm.finish(vm.mission.id, 2)" class="md-raised md-primary">End Mission</md-button>
  <p>I have to keep the keys in my possession, Till the moment that I cross by Bnblord office.</p>
</div>
